a:link {
  font-size: 120%;
   }

p, li {
   font-family: "Verdana";
   font-size: 14px;
}

.blackBack {
  background-color: black;
  }

#footnote {
    position: absolute;
    bottom: 5px;
    }

#float {
    clear: both
    }

#left {
    float: left;
    }

#centre {
    float:center;
    }

#right {
    float: right;
    }

#blackBack {
  background-color: black;
  }



.thumbnail {
float: left;
width: 60px;
border: 1px solid #999;
margin: 0 15px 15px 0;
padding: 5px;
}

h1 {
    font-family: "verdana";
    font-size: 30px;
    }

.input-group{

    width: 400px;
}
td {
	padding: 0px;
	border: 1px solid #d3d3d3;
	min-width: 24px;
	max-width: 24px;
	width: 24px;
	height: 24px;
	text-align: center;
	white-space: nowrap;
	border-collapse: collapse;
    }

tr {
	border: 1px solid #d3d3d3;
	border-collapse: collapse;
    }

.flexy {
	display: block;
	height: 528px;
	width: 528px;
	overflow: auto;
	border-collapse: collapse;
	table-layout: fixed;
    }

.nopadding {
	padding: 0px;
	margin: 0px;
    }

.selected {
	border: 2px solid #C91111;
    }

.notselected {
	border: 1px solid #d3d3d3;
    }

.copied{
	border: 1px dashed #C91111;
    }


td {
	padding: 0px;
	border: 1px solid #d3d3d3;
	min-width: 24px;
	max-width: 24px;
	width: 24px;
	height: 24px;
	text-align: center;
	white-space: nowrap;
	border-collapse: collapse;
    }

tr {
	border: 1px solid #d3d3d3;
	border-collapse: collapse;
    }

.flexy {
	display: block;
	height: 400px;
	width: 1000px;
	overflow: auto;
	border-collapse: collapse;
	table-layout: fixed;
    }

.standard {
	border: 1px solid #d3d3d3;
    }