{% extends 'yarntail/base.html' %}

{% load staticfiles %}
{% block body_block %}

<div class="page-header">
    <h1>About Us</h1>
</div>

<h2>YarnTail was brought to you by:<br/></h2>


<p> <strong>Rui Da Silva Costa</strong>, 2087521 <br/>
    <strong>Jake Degiovanni</strong>, 2066890 <br/>
    <strong>Josh Marsh</strong>, 2155744 <br/>
    <strong>Jack Parkinson</strong>, 2082657 <br/>
    <strong>Cordelia Schmid</strong>, 2038363 <br/>
    <br/>

</p>

<div style="height:500px; width:500px">
                <img src="/static/images/about.jpg" alt="About Us"
                     style="max-width:100%;max-height:100%;margin:auto;display:block"/>
            </div>


{% endblock %}