{% extends "yarntail/base.html" %}

{% load staticfiles %}

{% block body_block %}
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
		<script src="/static/js/script.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
    </head>


    <body onload="convert_string_edit('{{ pattern.design }}')">

    <div role="tabpanel">

        <!-- NAV TABS -->
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li role="presentation" class="active"><a href="#graphical_input" aria-controls="graphical_input" role="tab"
                                                      data-toggle="tab">Design Input</a></li>
            <li role="presentation"><a href="#save_and_submit" aria-controls="save_and_submit" role="tab"
                                       onclick="map_maker()"
                                       data-toggle="tab">Save and Submit</a></li>
        </ul>

        <!-- TAB CONTENT -->
        <div class="tab-content">
            <!-- GRAPIHCAL INPUT TAB -->
            <div role="tabpanel" class="tab-pane active" id="graphical_input" style="nopadding">
                <div class="row">
                    <div class="col-md-6 nopadding">
                        <h3>Select a size for your canvas</h3>

                        <div class="row">
                            <form name="sizeInput">
                                <div class="col-md-6">
                                    <h4>X-axis size:</h4>
                                    <input type="number" class="form-control" value="20" id="xInput">
                                    <div class="row">
                                        </br>

                                        <div class="col-md-8">
                                            <button type="button" class="btn btn-primary btn-lg btn-block"
                                                    onclick="adjust_axis()">Adjust Axis
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h4>Y-axis size:</h4>
                                    <input type="number" class="form-control" value="20" id="yInput">


                                </div>
                            </form>


                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Instructions</h3>

                                <div class="well well-lg">
                                    <p><i><strong>Click</strong> a square to cycle between knit, purl, and no stitch <br/>
                                        <strong>Drag</strong> colors from the palette below into squares you want to color<br/>
                                        <strong>Resize</strong> the grid by adjusting the x and y values above.</i></p>
                                    <img id="knit_legend" src="/static/images/knit_legend.png">
                                    <label for="knit_legend">Knit Stitch   </label>
                                    <img id="purl_legend" src="/static/images/purl.png">
                                    <label for="purl_legend">Purl Stitch</label><br>
                                    <img id="drop_legend" src="/static/images/drop.png">
                                    <label for="drop_legend">Drop Stitch</label><br>
                                </div>
                                <h3>Drag a colour onto a stitch to colour it</h3>
                                <table>
                                    <tr>
                                        <td id="#FFFFFF" bgcolor="FFFFFF" draggable="true"
                                            ondragstart="drag(event)"></td>
                                        <td id="#000000" bgcolor="000000" draggable="true"
                                            ondragstart="drag(event)"></td>
                                        <td id="#C91111" bgcolor="C91111" draggable="true"
                                            ondragstart="drag(event)"></td>
                                        <td id="#D84E09" bgcolor="D84E09" draggable="true"
                                            ondragstart="drag(event)"></td>
                                        <td id="#FF8000" bgcolor="FF8000" draggable="true"
                                            ondragstart="drag(event)"></td>
                                        <td id="#F6EB20" bgcolor="F6EB20" draggable="true"
                                            ondragstart="drag(event)"></td>
                                        <td id="#51C201" bgcolor="51C201" draggable="true"
                                            ondragstart="drag(event)"></td>
                                        <td id="#1C8E0D" bgcolor="1C8E0D" draggable="true"
                                            ondragstart="drag(event)"></td>
                                    </tr>
                                    <tr>
                                        <td id="#09C5F4" bgcolor="09C5F4" draggable="true"
                                            ondragstart="drag(event)"></td>
                                        <td id="#2862B9" bgcolor="2862B9" draggable="true"
                                            ondragstart="drag(event)"></td>
                                        <td id="#7E44BC" bgcolor="7E44BC" draggable="true"
                                            ondragstart="drag(event)"></td>
                                        <td id="#943F07" bgcolor="943F07" draggable="true"
                                            ondragstart="drag(event)"></td>
                                        <td id="#5BD2C0" bgcolor="5BD2C0" draggable="true"
                                            ondragstart="drag(event)"></td>
                                        <td id="#F6E120" bgcolor="F6E120" draggable="true"
                                            ondragstart="drag(event)"></td>
                                        <td id="#808080" bgcolor="808080" draggable="true"
                                            ondragstart="drag(event)"></td>
                                        <td id="#7E9156" bgcolor="7E9156" draggable="true"
                                            ondragstart="drag(event)"></td>
                                    </tr>
                                    <tr>
                                        <td id="#83AFDB" bgcolor="83AFDB" draggable="true"
                                            ondragstart="drag(event)"></td>
                                        <td id="#F863CB" bgcolor="F863CB" draggable="true"
                                            ondragstart="drag(event)"></td>
                                        <td id="#B44848" bgcolor="B44848" draggable="true"
                                            ondragstart="drag(event)"></td>
                                        <td id="#F5D4B4" bgcolor="F5D4B4" draggable="true"
                                            ondragstart="drag(event)"></td>
                                        <td id="#FCA8CC" bgcolor="FCA8CC" draggable="true"
                                            ondragstart="drag(event)"></td>
                                        <td id="#CC8454" bgcolor="CC8454" draggable="true"
                                            ondragstart="drag(event)"></td>
                                        <td id="#BF6A1F" bgcolor="BF6A1F" draggable="true"
                                            ondragstart="drag(event)"></td>
                                        <td id="#FD9800" bgcolor="FD9800" draggable="true"
                                            ondragstart="drag(event)"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <h3>Copy mode (beta)</h3>

                                <div class="well well-lg"><i>
                                    With copy mode active, you can click several stitches to select them at once. Click <b>Copy</b> to copy the
                                    selected stitches. Click <b>Paste</b> to paste the copied stitches to the selected
                                    area.
                                </i></div>
                                <button type="button" class="btn btn-primary btn-lg btn-block"
                                        onclick="select_or_change()" id="copymode" >Activate Copy Mode</button>
                                </br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="copy()">Copy
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="paste(copylist)">Paste
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- GRID -->
                    <div class="col-md-6">
                        <h3>Click a stitch on the grid to change the stitch</h3>
                        <table id="grid" class="flexy">

                        </table>
                        <script>

                        var copylist = []
                        </script>
                    </div>
                </div>
            </div>



            <!-- SAVE AND SUBMIT TAB -->
            <div role="tabpanel" class="tab-pane" id="save_and_submit">
                <form action="{% url 'edit_pattern' u.user_profile pattern.slug %}" name="pattern-form" id="pattern-form" method="post" class="ajax">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="name"><h3>Give your design a name:</h3></label>
                                <input type="text" name="title" class="form-control" id="title" value="{{ pattern.title }}">
                            </div>
                            <h3>Select a difficulty for your design:</h3>

                            <div class="radio">
                                <input type="radio" name="difficulty" id="radiohard" value="Hard">
                                <label for="radiohard">Hard</label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="difficulty" id="radiomedium" value="Medium"
                                <label for="radiomedium">Medium</label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="difficulty" id="radioeasy" value="Easy" checked>
                                <label for="radioeasy">Easy</label>
                            </div>


                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="description"><h3>Write a short description about your design:</h3></label>
                                <textarea name="description" rows="10" class="form-control" id="description">{{ pattern.description }}</textarea>
                            </div>

                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">

                                <input type="hidden" id="design_text" name="design" class="form-control"
                                       placeholder="Pattern text will show up here...">

                                <button id="submit" type="submit" class="btn btn-primary btn-lg btn-block">Submit
                                </button>
                            </div>
                        </div>
                    </div>

            </div>
            </form>

        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>



    </body>


{% endblock %}

