{% extends 'yarntail/base.html' %}

{% load staticfiles %}
{% block body_block %}

<div class="page-header">
    <h1>(404) Oops... We couldn't find what you were looking for.</h1>
</div>

<div id="float">
    <div id="left">
        <p>
        The page you were looking does not exist or is no longer available. <br/> <br/>

        Please go back to the <a href="{% url 'index' %}">home page</a> and try again.
        <br/><br/><br/><br/>
        Do you believe this is a mistake?
            <br/><br/>
        Drop us an email on:
        <a href="mailto:yarntail@mail.com?Subject=Error%20PageNotFound" target="_top">Send Mail</a>


        <br/><br/><br/><br/><br/><strong> We're sorry for any inconvenience this may have caused you.</strong>

        </p><br/>


    </div>
    <div id="right" style="height:500px; width:500px">
        <img src="{% static 'images/404.jpg' %}"
             style="max-width:100%;max-height:100%;margin:auto;display:block"/>
    </div>



</div>

{% endblock %}