{% extends 'yarntail/base.html' %}
{% load staticfiles %}
{% block body_block %}

    <div class="page-header">
        <h1>How To Read Your Favourite Patterns</h1>
    </div>

    <h3> Pattern reading instructions should appear here. </h3>


    <p>

        Hi, I see you are worried about how to share your first patter on YarnTail. <br/>
        No need! We made it easy for you. <br/> <br/>


        Unlike other knitting websites, <strong>YarnTail does not limit you to photos and typed instructions in order to
        represent knitting patterns. </strong><br/><br/>
        Pattern input is performed through an easy to use interface that represents your patterns as a graph. Cool, right? <br/>
        For instructions on how to upload new patterns can be found in <a href="{% url 'upload_instructions' %}"> Upload Instructions. </a><br/>
        The pattern is then taken and converted into data that we can store on our servers.

        <br/><br/>
        When you want to look at a pattern, we take that data and reconstruct the graphic representation for you to view.<br>
        The end result is shown below:

    </p>


    <div class="well well-lg">
        <img id="knit_legend" src="/static/images/knit_legend.png">
        <label for="knit_legend">Knit Stitch </label><br>
        <img id="purl_legend" src="/static/images/purl.png">
        <label for="purl_legend">Purl Stitch</label><br>
        <img id="drop_legend" src="/static/images/drop.png">
        <label for="drop_legend">Drop Stitch</label><br>
    </div>
    <div>
        <img src="{% static 'images/ExamplePattern.png' %}"
             style="max-width:100%;max-height:100%;margin:auto;display:block"/>


    </div>

<p>
    <br/><br/>
    <strong>Best Regards, <br/>
        The YarnTail Community</strong>
</p>
{% endblock %}
