{% extends 'yarntail/base.html' %}


{% block body_block %}
<div class="page-header">
    <h1>Upload Pattern Instructions</h1>
</div>


<p>
    Hi, I see you are worried about how to share your first pattern on YarnTail. <br/>
    No need! We made it easy for you. <br/> <br/>

    Just login into our website and you should now be able to see a <strong>"add new pattern"</strong> on to top-right corner of the screen. <br/>
    You'll find you have two different ways of input. <br/><br/>

    The first is a graphical representation. This is what YarnTail is all about. You should give it a go!<br/>
    <strong>Further instructions</strong> on how to use the graph can be found in the instructions box next to it. <br/><br/>

    If you don't feel confident using the graph just yet, you can switch for the second tab and input your pattern in the good old textbox. <br/><br/>

    <br/>
    <h4>If you experience any difficulties please drop us a message at  <a href="mailto:yarntail@mail.com?Subject=From%20Upload%20Pages" target="_top">yarntail@mail.com</a></h4>


    <br/><br/>
    <strong>Best Regards, <br/>
        The YarnTail Community</strong>


</p>

{% endblock %}
